<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favori Mekanlarım</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/favlocation.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./js/script.js"></script>
</head>

<body>
    {{> config}}
    <script>
        window.userID ={{ userID }}
       
    </script>
    <div class="container mt-5">
        <h2 class="display-4 text-center text-muted" style="font-family: sans-serif,Arial;">Favori Mekanlarım</h2> <br>
        <div id="location-cards" class="row justify-content-center">
            {{#each userData}}
            <div class="col-md-4 mb-4 location-card-container" style="display: none;">
                <div class="card location-card">
                    <a href="/location?id={{this.locationID}}">
                        <img src="{{this.locationImg}}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <a href="/location?id={{this.locationID}}">
                            <h5 class="card-title">{{this.locationName}}</h5>
                        </a>
                        <p class="card-text">{{this.locationCountry}}</p>
                        <ion-icon class="heart-icon" id="heart" name='heart' data-locationid={{this.locationID}}></ion-icon>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="text-center mt-4">
            <button id="load-more-btn" class="btn btn-primary btn-load-more">Daha Fazla Göster</button>
        </div>
    </div>

    {{> footer}}
</body>

<script src="./js/favlocation.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>


</html>

