<!DOCTYPE html>
<html lang="tr" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Popüler Oteller</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>

<body>

    {{>config}}

    <div class="container" id="hotel">
        <section class="otherlocation-context mt-4">
            <h1 style="margin-top: 20px;">En Popüler Oteller</h1>
            <p>
                Dünyanın en popüler otellerini keşfedin! 
                İkonik konaklama seçenekleriyle dolu olan bu 
                otellerde konforun ve hizmetin tadını çıkarın.

            </p>
        </section>

        <div id="popotherlocation_data">

        </div>

        <section class="otherlocation-comments mt-4">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    {{#each commentsData}}
                    <li class="card">
                        <div class="comments-upcontent">
                            <div class="comment-location-info">Yer:&nbsp<a id="comment-link"
                                    href="{{this.locationLink}}">{{this.locationName}}</a></div>
                            <div class="comment-point d-flex">
                                <div class="comment-stars mt-2">
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <h5 class="comment-score mt-2 ml-2">{{this.commentScore}}.0</h5>

                            </div>
                            <div class="comment-title">{{this.commentTitle}}</div>
                            <div class="testimonial">{{this.commentContents}}</div>
                        </div>
                        <div class="profile">
                            <div class="comment-context">
                                <img src={{this.userProfilePic}} alt="" class="rounded-circle ">
                                <div class="name">@{{this.userNickname}}</div>
                            </div>
                            <div class="date">{{this.commentDate}}</div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </section>

        <div class="otherlocations_all">
            <section class="" id="otherlocations_data">
            </section>
            <div id="loading_animation" class="loader"></div>
        </div>

    </div>

    {{>footer}}

</body>

{{>commentModal}}

<script src="./js/commentsSlider.js"></script>
<script src="./js/script.js"></script>
<script src="./js/otherlocationDataLoader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>

</html>

<style>
    .popotherlocations .ratings {
        margin-right: 20px;
    }

    .popotherlocations .ratings i {
        color: #cecece;
        font-size: 32px;
    }



    .popotherlocations .point {
        font-weight: 500;
        font-size: 26px !important;
        margin-top: -4px;
        margin-right: 20px;
    }

    .popotherlocations .ratings {
        margin-right: 20px;
    }

    .popotherlocations .point-section {


        margin-right: 0px;
        margin-top: 8px;

    }

    .popotherlocations_all {
        margin-bottom: 100px;

    }

    .popotherlocation-loc {
        margin-top: 20px;
        margin-left: 15px;
    }

    .popotherlocations img {
        width: 28px !important;
        height: 28px !important;
        object-fit: cover;
    }

    .popotherlocation-loc p {
        font-weight: 400;
        font-size: 20px !important;
        margin-left: 15px;
        margin-top: -3px;
        color: #000000;
    }

    .otherlocation {
        margin-top: -10px;
    }

    .otherlocation-fav{
        justify-content: end;
    }

    .otherlocation .review-count {
        font-weight: 500;
        margin-top: 2px;
        font-size: 18px !important;
    }

    .otherlocation .write-comment{
            color: #000000;
            font-size: 18px;
            margin-top: 20px;
             text-decoration: underline;
            cursor: pointer;
    }

    .otherlocation-section img {
        object-fit: cover;
        width: 850px;
        height: 475px;
        max-width: 850px;
        max-height: 475px;
    }

    .otherlocation-section .locationImg {
        object-fit: cover;
        width: 500px;
        height: 350px;

        max-width: 500px;
        max-height: 350px;
    }


    .otherlocation-context h1 {
        text-align: center;
    }

    .otherlocation-context p {
        color: #666
    }

    .otherlocation-rank, .otherlocation-title{
        font-size: 42px;
    }

    .otherlocation-section .ratings i {
        color: #cecece;
        font-size: 25px;
    }


    .otherlocations-text .review-count {
        font-weight: 500;
        margin-bottom: 2px;
        font-size: 20px !important;
    }

    .otherlocations-text .point {
        font-weight: 500;
        font-size: 26px !important;
        margin-top: -3px;
        margin-right: 18px;
    }

    .otherlocations-text .point-section {

        margin-top: 40px;
        margin-left: 20px;

    }

    .otherlocations-text .ratings {
        margin-right: 20px;
    }

    .otherlocations-text {
        margin-left: 20px;
        margin-top: 50px;
        max-width: 330px;;
    }



    .otherlocations-context {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .otherlocations-text img {
        width: 28px !important;
        height: 28px !important;
        object-fit: cover;
    }

    .otherlocation-context h1 {
        color: #000000;

    }

    .otherlocations-loc {
        margin-top: 10px;
        margin-left: 25px;
    }

    .otherlocations-loc p {
        font-weight: 400;
        font-size: 20px !important;
        margin-left: 25px;
        margin-top: -3px;
        color: #000000;
    }

    .otherlocation-title {
        color: #000000;
        max-width: 300px;
    }


    .otherlocation-rank {
        color: #D9D9D9;
    }

    .other-locations .write-comment {
        color: #000000;
        font-size: 18px;
        margin-top: 18px;
        text-decoration: underline;
        cursor: pointer;
    }

    .otherlocation-context {
        color: #000000;
        font-size: 20px;
        margin-bottom: 30px;
    }


    .otherlocation-section {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .otherlocation-comments {
        margin-bottom: 20px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

    }

    .otherlocation-context p {
        text-align: justify;
        color: #666;
        margin: 30px 50px;
        font-size: 20px
    }

    .large-font {
        font-size: xxx-large;
    }

    ion-icon {
        fill: transparent;
        stroke: rgb(0, 0, 0) !important;
        stroke-width: 20px;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: 20px;
    }

    ion-icon.active {
        animation: like 0.5s 1;
        fill: red;
        stroke-width: 0px;

    }


    @-webkit-keyframes like {
        0% {
            transform: scale(1);
        }

        90% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1.1);
        }
    }
</style>

<script>
    let icon = document.querySelector('ion-icon');
    icon.onclick = function () {
        icon.classList.toggle('active');
    }
</script>