<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if locationData}}
    <title>{{locationData.locationName}}</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/location.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>


<body>

    {{>config}}

    <script></script>
    <div class="container ">
        <section class="location-section mt-4 ">

            <div class="location-context d-flex ">
                <div class="align-items-center" style="width: 500px;">
                    <h1 class="text-left">{{locationData.locationName}}</h1>
                    <div class="d-flex ">
                        <p class="location-status mr-3 "></p>
                        <p id="openTime" class="mr-3">09:00-19:00</p>
                        <a href="commentWrite" class="write-comment text-right">Yorum Yazın</a>
                    </div>
                    <div class="location-description d-flex">
                        <img src="/images/info.png" alt="locationinfo">
                        <p>{{locationData.locationInfo}}</p>
                    </div>
                </div>

                <div class="location-info mt-1 d-flex">
                    <div style="margin-left: -30px;">
                        <div class="d-flex mb-2 ">
                            <h5 class="point">{{locationData.locationScore}}</h5>
                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count ">{{locationData.locationCommentCount}} Yorum</h5>
                        </div>
                        <div>
                            <div class="extra-info d-block">
                                <div class="mb-2 d-flex" style="width: 350px;"><img src="../images/location.png" />
                                    <p>{{locationData.locationAddress}}</p>
                                </div>
                                <div class="mb-3 d-flex"><img src="../images/time.png" />
                                    <p>Ortalama {{locationData.locationTime}} gezme süresi</p>
                                </div>
                                <div class="mb-2 d-flex"><img src="../images/etiket.png" />
                                    <p>{{locationData.locationType}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='large-font' style="margin-top: -20px;">
                        <ion-icon name='heart'></ion-icon>
                    </div>

                </div>
            </div>

            <img src={{locationData.locationImg}} alt="Keşfet" class="img-fluid  d-block mt-4 mb-4 mx-auto"
                style="width: 850px; height: 475px; object-fit: cover;">
        </section>

        <section class="location-comments mt-4" id="">
            <h1 class="pt-4 text-center ml-4">{{locationData.locationName}} Yorumları</h1>
            <div class="location-rating-card">
                

                    <div class="rating-box  d-block">
                        <h1 class="comment-score">{{locationData.locationScore}}</h1>

                        {{/if}}
                        <div class="comment-stars">
                            <span class="fa fa-star mx-1"></span>
                            <span class="fa fa-star mx-1"></span>
                            <span class="fa fa-star mx-1"></span>
                            <span class="fa fa-star mx-1"></span>
                            <span class="fa fa-star mx-1"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="location-rating-bar0 justify-content-center" style="max-heigth:200px;">
                            <table class="text-left mx-auto">
                                <tr>
                                    <td class="rating-label text-right">5<span
                                            class="fa fa-star star-active mx-1"></span>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </td>{{#if totalStarCounts}}
                                    <td class="star5 text-right">{{totalStarCounts.totalStar5}}</td>
                                </tr>
                                <tr>
                                    <td class="rating-label text-right">4<span
                                            class="fa fa-star star-active mx-1"></span>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </td>
                                    <td class="star4 text-right">{{totalStarCounts.totalStar4}}</td>
                                </tr>
                                <tr>
                                    <td class="rating-label text-right">3<span
                                            class="fa fa-star star-active mx-1"></span>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </td>
                                    <td class="star3 text-right">{{totalStarCounts.totalStar3}}</td>
                                </tr>
                                <tr>
                                    <td class="rating-label text-right">2<span
                                            class="fa fa-star star-active mx-1"></span>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </td>
                                    <td class="star2 text-right">{{totalStarCounts.totalStar2}}</td>
                                </tr>
                                <tr>
                                    <td class="rating-label text-right">1<span
                                            class="fa fa-star star-active mx-1"></span>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </td>
                                    <td class="star1 text-right">{{totalStarCounts.totalStar1}}</td>
                                </tr>
                            </table>{{/if}}
                        </div>
                    </div>
               
            </div>

            <di id="locationcomments_data">

            </di>
            <div id="loading_animation" class="loader"></div>
        </section>





    </div>

    {{>footer}}

    <script src="./js/script.js"></script>
    <script src="./js/locationcommentDataLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</body>


</html>