<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Popüler Gezilecek Yerler</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">



</head>


<body>

    {{>config}}


    <div class="container ">
        <section class="popdest-context mt-4">
            <h1 style="margin-top: 20px;">En Popüler Gezilecek Yerler</h1>
            <p>
                Paris'in romantizmi, Roma'nın tarihi dokusu, Maldivler'in berrak suları... Dünyanın en popüler
                destinasyonları,
                sizi unutulmaz deneyimlerle buluşturuyor. Hayalinizdeki tatil için harika bir başlangıç yapmaya hazır
                mısınız?
            </p>
        </section>


        {{#each popDestData}}
        {{#if @first}}
        <section class="popdest-section mt-4 ">

            <img src={{this.cityImg}} alt="Keşfet" class="img-fluid  d-block mt-5 mx-auto">

            <div class="ppopdests mt-5 d-flex justify-content-between" style="margin: 2% 11%;">

                <div class="text-left">
                    <h2 class="city-rank mx-3">#{{this.cityRank}}</h2>
                    <h2 class="city-title mx-3">{{this.cityName}}</h2>
                    <ol class="dest">
                        {{#each this.locations}}
                        <li><a href="{{this.url}}">{{this.name}}</a></li>
                        {{/each}}
                    </ol>

                </div>

                <div class="point-section justify-content-between d-block">
                    <div class="d-flex">
                        <h5 class="point">{{cityScore}}</h5>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        {{/if}}
        {{/each}}



        <section class="popdest-comments mt-4">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <ul class="carousel">
                    {{#each commentsData}}
                    <li class="card">
                        <div class="comments-upcontent">
                            <div class="comment-location-info">Yer:&nbsp<a
                                    href="{{this.locationLink}}">{{this.locationName}}</a></div>
                            <di class="comment-point d-flex">
                                <div class="comment-stars mt-2">
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star "></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <h5 class="comment-score mt-2 ml-2">{{this.commentScore}}.0</h5>

                            </di>
                            <div class="comment-title">{{this.commentTitle}}</div>
                            <div class="testimonial">{{this.commentContents}}</div>
                        </div>
                        <div class="profile">
                            <div class="comment-context">
                                <img src={{this.userProfilePic}} alt="" class="rounded-circle ">
                                <div class="name">@{{this.userNickname}}</div>
                            </div>
                            <div class="date">{{this.commentDate}}</div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </section>

        {{#each popDestData}}
        {{#unless @first}}
        <section class="popdest-section mt-4  d-flex justify-content-between">

            <div class="popdests-context d-flex">
                <img src={{this.cityImg}} alt="Keşfet" class="cityImg img-fluid">
                <div class="popdests-text">
                    <h2 class="city-rank mx-3">#{{this.cityRank}}</h2>
                    <h2 class="city-title mx-3">{{this.cityName}}</h2>
                    <ol class="dest d-block">
                        {{#each this.locations}}
                        <li><a href="{{this.url}}">{{this.name}}</a></li>
                        {{/each}}
                    </ol>
                </div>
            </div>

            <div class="popdests">
                <div class="point-section ">
                    <div class="d-flex">
                        <h5 class="point">{{this.cityScore}}</h5>
                        <div class="ratings d-flex">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        {{/unless}}
        {{/each}}
    </div>


    {{>footer}}


</body>

<div id="commentModal" class="comment-modal">
    <div class="comment-modal-content d-block ">
        <div class="modal-comment-upcontent">
            <span class="close">&times;</span>
            <div id="modal-locationName" class="comment-location-info d-flex ml-1"></div>
            <div id="modal-stars" class="star d-flex"></div>
            <div id="modal-comment-title" class="comment-title"></div>
            <div id="modal-testimonial" class="testimonial"></div>
        </div>
        <div id="modal-profile" class="profile"></div>
    </div>
</div>

<script src="./js/commentsSlider.js"></script>
<script src="./js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    /* Style the modal */
    .comment-modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);

        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .comment-modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 450px;
        height: auto;

        border-radius: 8px;

    }

    /* Close Button */
    .modal-comment-upcontent .close {
        color: #aaaaaa;
        float: inline-end;
        font-size: 28px;
        font-weight: bold;
        margin-top: -5px;
    }


    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .comment-modal .profile img {
        width: 64px !important;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 7px;
    }

    .comment-modal .profile {
        margin-top: 20px;
    }

    .comment-modal .date {
        font-size: 1.0rem;
        font-weight: 400;
        line-height: 2;
        margin-top: 9px;

    }

    .comment-modal .name {
        display: flex;
        font-weight: 700;
        margin-top: 15px;
        margin-left: 4px;

    }

    .comment-modal .testimonial {
        font-size: 1.0rem;
        line-height: 1.4rem;
        font-weight: 500;
        overflow: hidden;
        text-align: justify;

        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .comment-modal .comment-title {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 1.1rem;
        font-weight: bold;


    }

    .comment-modal .star {
        margin-top: 0px;
        margin-left: 5px;
    }

    .comment-location-info {
        font-size: 1.0rem;
        line-height: 1.4rem;
        font-weight: 500;
        color: #000;

    }

    .comment-location-info a {
        color: rgb(171, 171, 171);
        /* Bağlantı rengi */
        text-decoration: none;
        /* Altı çizgiyi kaldır */
    }

    .comment-location-info a:hover {
        text-decoration: underline;
        /* Fare üzerine gelince altı çizgiyi göster */
    }
</style>




</html>